iot/flows.json
[{"id":"8e996c24.3ff9d","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"1ebf14f8.e9298b","type":"inject","z":"8e996c24.3ff9d","name":"aman","topic":"","payload":"true","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":120,"wires":[["c97315e6.3a37c8"]]},{"id":"c97315e6.3a37c8","type":"rpi-gpio out","z":"8e996c24.3ff9d","name":"green uijhnmyub v","pin":"11","set":"","level":"0","freq":"","out":"out","x":600,"y":220,"wires":[]},{"id":"2b8ac2f6.51099e","type":"inject","z":"8e996c24.3ff9d","name":"dheeraj","topic":"","payload":"false","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"1","x":210,"y":340,"wires":[["c97315e6.3a37c8"]]}]